/*GLOBAL*/
.login-home{
    display: flex;
    height: 100vh;
}
.login-main{
    display: flex;
    flex-direction: row;
}
html { overflow-y: auto }

/*LOGIN BANNER*/
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    background-color: #a4afc4c0;
    height: 100%;
}
.banner-background-gradient{
    background: rgb(12,75,61);
    background: linear-gradient(0deg, rgba(12,75,61,1) 0%, rgba(9,179,177,1) 46%, rgba(40,117,116,1) 100%);
}



/*LOGIN FORM*/
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex: 1;
    border-radius: 4px;
}
.form-title{
    font-size: 1.5rem;
    font-weight: 400;
}
.form-subtitle{
    font-size: medium;
    font-weight: 300;
}
.help{
    background-color: #ff000085;
    border-radius: 4px;
    max-width: 350px;
    padding-left: 4px;
    padding-right: 4px;
}
.help-label{
    color: #af0b0b;
    font-size: small;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
}
.help-text{
    color: #af0b0b;
    font-size: small;
    font-weight: 300;
    margin-right: 5px;
}
.login-tf{
    text-decoration: none;
}
.login-btn-text{
    color: #fff;
    text-transform: none;
    font-size: 300;
}
.login-subtext{
    font-size: 1rem;
}
.login-avatars{
    max-width: 200px;
}
.link{
    text-decoration: none;
    color: #af0b0b !important;
}


/*RESPONSIVITY*/
@media only screen and (max-width: 1024px){
    .form-subtitle{
        font-size: 14px;
    }
}
@media only screen and (max-width: 768px){
    .banner{
        display: none;
    }
}
@media only screen and (max-width: 425px){
    .form-title{
        font-size: large;
    }
    .form-subtitle{
        font-size: small;
    }
}
@media only screen and (max-width: 375px){
    .form{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media only screen and (max-width: 320px){
    .form{
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-title-icon{
        display: none;
    }
    .form-subtitle{
        font-size: 12px;
    }
    .help{
        max-width: 350px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .help-label{
        font-size: x-small;
        margin-left: 2px;
        margin-right: 2px;
    }
    .help-text{
        font-size: x-small;
        margin-right: 2px;
    }
}