/*GLOBAL*/
html { overflow-y: auto }


/*LOGIN HOME*/
.login-home{
    display: flex;
    height: 100vh;
}
.login-main{
    display: flex;
    flex-direction: row;
}
.login-background-gradient{
    background: rgb(228,228,228);
    background: linear-gradient(180deg, rgba(228,228,228,1) 0%, rgba(237,237,237,1) 46%, rgba(139,139,139,1) 100%);
}
.login-logo{
    width: 120px
}
.login-bar{
    width: 120px;
    height: 120px;
}



/*LOGIN BANNER*/
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    height: 100vh;
}




/*LOGIN FORM*/
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex: 1;
    border-radius: 4px;
}
.form-title{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.705);
    margin-bottom: 10px;
}
.form-subtitle{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}
.help{
    background-color: #ff000085;
    border-radius: 4px;
    max-width: 350px;
    padding-left: 4px;
    padding-right: 4px;
}
.help-label{
    color: #af0b0b;
    font-size: small;
    font-weight: 400;
    margin-left: 7px;
    margin-right: 3px;
}
.help-text{
    color: #af0b0b;
    font-size: small;
    font-weight: 300;
    margin-right: 5px;
}
.login-textfield{
    text-decoration: none;
    height: 47px;
}
.login-btn-text{
    color: #fff;
    text-transform: none;
    font-size: 300;
}
.login-subtext{
    font-size: 1rem;
}
.login-avatars{
    max-width: 200px;
}
.link{
    text-decoration: none;
    color: #af0b0b !important;
}


/*RESPONSIVITY*/
@media only screen and (max-width: 1024px){
    .form-subtitle{
        font-size: 14px;
    }
    .banner{
        display: none;
    }
    .login-background-gradient{
        background: #fff;
        background-color: #fff;
    }
    .login-home{
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px){
    .banner{
        display: none;
    }
    .login-logo{
        width: 90px;
    }
}
@media only screen and (max-width: 425px){
    .form-title{
        font-size: large;
    }
    .form-subtitle{
        font-size: small;
    }
    .login-logo{
        width: 70px;
    }
}
@media only screen and (max-width: 375px){
    .form{
        padding-left: 30px;
        padding-right: 30px;
    }
    .form-subtitle{
        font-size: 12px;
        padding-right: 28px;
    }
}
@media only screen and (max-width: 320px){
    .form{
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-title{
        margin-bottom: 2px;
    }
    .form-title-icon{
        display: none;
    }
    .form-subtitle{
        font-size: 12px;
        padding-right: 20px;
    }
    .help{
        max-width: 350px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .help-label{
        font-size: x-small;
        margin-left: 2px;
        margin-right: 2px;
    }
    .help-text{
        font-size: x-small;
        margin-right: 2px;
    }
}